.icon-row__column {
    display: flex;
    justify-content: space-between;
    margin-top:45px;
}
.icon-row {
    display: flex;
    justify-content: space-between;
}
.icon-row__icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.icon-row__icon i{
    font-size: 30px;
    margin-bottom: 18px;
}